body {
    background-color: #121421;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
  height: 80px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dibitech {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 60px;
}

.navbar-right a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 14px;
  transition: color 0.2s ease;
}

.login {
  padding: 12px 25px;
  background-color: #2563eb;
  border-radius: 200px;
}


/* hero */
.hero {
  color: white;
  padding: 80px;
}

.heroimg {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  height: 550px;
  min-height: 400px;
}

.heroimg img {
  width: 100%;
  height: 100%;
  display: block;
}

.herotext {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 600px;
  margin: auto;
}

.herotext h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.herotext p {
  font-size: 16px;
  color: #e5e7eb;
  line-height: 1.6;
  max-width: 600px;
}

@media (max-width: 900px) {
  .heroimg {
    height: 60vh;
  }

  .herotext h1 {
    font-size: 34px;
  }
}

@media (max-width: 600px) {
  .heroimg {
    height: 50vh;
  }

  .herotext h1 {
    font-size: 25px;
  }

  .herotext p {
    font-size: 15px;
  }
}


/*categories */
.categories {
  color: white;
  padding: 60px;
}

.categoriestext {
  margin-bottom: 60px;
  font-size: 25px;
}

.categoriesgrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.card {
  background: #111827;
  padding: 40px;
  border-radius: 20px;
  cursor: pointer;
}

.card h3 {
  margin: 15px 0 8px;
  font-size: 16px;
}

.card p {
  font-size: 13px;
  color: #9ca3af;
  line-height: 1.5;
}

.cardimg {
  height: 120px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardimg img {
  width: 120px;
}

@media (max-width: 1100px) {
  .categoriesgrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .categoriesgrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .categoriesgrid {
    grid-template-columns: 1fr;
  }
}


/* featured */
.featured {
  color: white;
  padding: 60px;
}

.featuredtext {
  margin-bottom: 60px;
  font-size: 25px;
}

.featured1 {
  display: flex;
  align-items: center;
  gap: 40px;
}

.featuredimage {
  flex: 1;
}

.featuredimage img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  display: block;
}

.featuredtext2 {
  flex: 1;
}

.featuredtext2 h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.featuredtext2 p {
  color: #828892;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.learnmore{
  background: #2563eb;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 100px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .featured1 {
    flex-direction: column;
  }

  .featuredimage {
    width: 100%;
  }

  .featuredtext2 {
    text-align: center;
  }
}


/* trending */
.trending {
  color: white;
  padding: 60px;
  margin-bottom: 80px;
}

.trendingtext {
  margin-bottom: 60px;
  font-size: 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.trendcard {
  background: #111827;
  padding: 40px;
  border-radius: 20px;
  cursor: pointer;
}

.trendimg {
  margin-bottom: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trendimg img {
  width: 120px;
}

.trendcard h3 {
  font-size: 15px;
}

.trendcard p {
  font-size: 13px;
  color: #9ca3af;
}

@media (max-width: 1100px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}




/* footer */
.footer {
  padding: 60px 8%;
  text-align: center;
}

.footercon {
  max-width: 1200px;
  margin: auto;
}

.footerlinks {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 30px;
}

.footerlinks a {
  text-decoration: none;
  color: #94a3b8;
  font-size: 14px;
}

.footermedia {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
}

.footermedia img {
  width: 20px;
  height: 20px;
}

.footercopyright {
  font-size: 13px;
  color: #64748b;
}

@media (max-width: 768px) {
  .footerlinks {
    flex-direction: column;
    gap: 15px;
  }
}

